SPRING_PROFILES_ACTIVE=example
DB_PORT=example
DB_HOST=example
DB_NAME=example
DB_USERNAME=example
DB_PASSWORD=example
JWT_SECRET_KEY=example
GPT_KEY=example
GOOGLE_CLIENT_ID=example
GOOGLE_CLIENT_SECRET=example
OAUTH_REDIRECT_URI=example
IMAGE_NAME=example
IMAGE_TAG=example